@font-face {
  font-family: 'kalpurush';
  src: local('kalpurush'), url('../assets/fonts/kalpurush.ttf') format('woff2');
  /* Add additional src lines for different font file formats if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'kalpurush', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;